img {
  vertical-align: middle;
}
figure {
  position: relative;
  display: inline-block;
  border: 2px solid #000;
  margin: 0;
  left: 5px;
}
desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  text-align: left;
  font-family: segoe UI;
  font-size: 13.7px;
}

desc p {
  margin: 0;
  padding: 15px 30px 15px 20px;
  background: #000;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  display: none;
  text-align: left;
}
desc:after {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #000;
  background: rgba(0, 0, 0, .6);
  border-radius: 50%;
  color: #fff;
  color: rgba(255, 255, 255, .8);
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
}

desc:hover {
  background: rgba(0, 0, 0, .8);
  color: #fff;
}