
                    /*Demo Styles*/
        /*body {
            margin: 0;
            padding: 20px 0 0 0;
        }
        
        p {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            text-align: center;
            color: #444;
            margin: 20px;
            padding: 150px 0;/*Add some height to the columns
        }*/
        
        #main-form {
            background-color: #eef3f7;
        }
        
        #form-right {
            background-color: #e3e9ee;
        }

        /*Base Mobile Layout*/
        .wrap {
            width: 90%;
            margin: 0 auto;
        }
        
        #main-form, #form-right {
            width: 100%;
            float: left;
        }
        
        /*3 Column Layout*/
        @media only screen and (min-width: 1024px) {
            .wrap {
                width: 1024px;
                margin: 0 auto;
            }
            
            #main-form {
                width: 50%;
                float: left;
            }

            #form-right {
                width: 25%;
                float: left;
            }
        }
        
        /*Wide Layout*/
        @media only screen and (min-width: 1200px) {
            .wrap {
                width: 1140px;
                margin: 0 auto;
            }
        }
        
        /*Move Sidebar Position*/
        @media only screen and (min-width: 1024px) {
            .wrap, #main-form, #form-right {
                position: relative;
            }
            
            #main-form, #form-right {
                top: 0;
            }
            
            #form-right {
                right: 0;
            }
            
            #main-form {
                left: 25%; /*Width of #left-sidebar*/
            }
        }
        
        /*Optional 2 Column Layout*/
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            #form-right {
                width: 50%;
            }
            #main-form {
                position: relative;
                top: 0;
                left: 0;
            }
        }